*{
    box-sizing: border-box;
}

html{
    font-size: 1px;
}

body{
    font-family: Arial,Helvetica,sans-serif;
}

body > div{
	width: 878px;
	margin: auto;
    border-radius: 5px;
    font-size: 12px;
}
       
img{
    border: 1px solid black;
}
        
.list > * {
    display: block;
}

table{
    border-collapse: collapse;
    font-size: 11px;
    width: 100%;
}

th, td {
    padding-right: 10rem;
    padding-top: 5rem;
    white-space: nowrap;
}

th{
    padding-top: 15rem;
}

.displayAsTable{
    display: table;
}

.displayAsTable > * {
    display: table-cell;
    vertical-align: top;
}

.header{
	width: 878px;
	height: 254px;
	background-image: url("http://haleryd.se/onewebstatic/473827feaa-f%C3%B6rstasidan2.jpg");
	background-repeat: none;
}

.title{
    position: relative;
    top: 31px;
    text-align: right;
    font-family: 'Palatino Linotype','Book Antiqua',Palatino,serif;
    font-size: 48px;
}

.main{
	margin-top: 20rem;
	padding: 30rem 0;
    display: table;
    background-image: -webkit-linear-gradient(top,rgba(228,228,228,0.76) 62%,rgba(104,104,104,0.76) 100%);
    background-image: -ms-linear-gradient(top,rgba(228,228,228,0.76) 62%,rgba(104,104,104,0.76) 100%);
    background-image: -o-linear-gradient(top,rgba(228,228,228,0.76) 62%,rgba(104,104,104,0.76) 100%);
    background-image: linear-gradient(top,rgba(228,228,228,0.76) 62%,rgba(104,104,104,0.76) 100%);
}

    .main > span{
        height: 100%;
        display: table-cell;
        vertical-align: top;
    }

    .nav{
    	text-transform: uppercase;
        width: 125px;
    }
        
        .nav .selected{
            background-image: -webkit-linear-gradient(left,rgba(199,199,199,1) 0,rgba(109,108,104,1) 80%);
            background-image: -ms-linear-gradient(left,rgba(199,199,199,1) 0,rgba(109,108,104,1) 80%);
            background-image: -o-linear-gradient(left,rgba(199,199,199,1) 0,rgba(109,108,104,1) 80%);
            background-image: linear-gradient(left,rgba(199,199,199,1) 0,rgba(109,108,104,1) 80%);
            color: #fff!important;
        }
        
        .nav a{
            width: 100%;
            display: inline-block;
            padding: 8rem 10rem;
            font-weight: bold;
            text-decoration: none;
            color: black!important;
        }

    .content{
        display: inline-block;
        padding: 0rem 20rem;
        border-left: 2px solid black;
        border-right: 2px solid black;
        text-align: justify;
    }
        .horses{
            display: flex;
            justify-content: space-around;
        }
        
        .horse {
            width: 30%;
        }
        
        .horse a {
            margin-bottom: 8rem;
        }
        
        .kontakt > div{
            margin-bottom: 10rem;
        }
        
        .kontakt img{
            margin-right: 20rem;
        }
    
    .news{
        width: 190px;
        text-align: right;
        padding-right: 10rem;
    }
    
        .news strong{
            text-transform: uppercase;
        }
        
        .news a{
            display: block;
            text-decoration: none;
            color: black!important;
            font-style: italic;
            padding: 5rem 0;
        }
        
        .news a:hover{
            color: #fff!important;
        }
        
.footer{
    margin-top: 20rem;
    text-align: center;
    padding: 20rem 0;
    color: #fff!important;
    background-image: -webkit-linear-gradient(top,rgba(102,102,102,1) 0,rgba(0,0,0,1) 100%);
    background-image: -ms-linear-gradient(top,rgba(102,102,102,1) 0,rgba(0,0,0,1) 100%);
    background-image: -o-linear-gradient(top,rgba(102,102,102,1) 0,rgba(0,0,0,1) 100%);
    background-image: linear-gradient(top,rgba(102,102,102,1) 0,rgba(0,0,0,1) 100%);
}  